@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fbf9f6;
    color: #1b1c1a;
  }
  body {
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top, 0px);
  }
  main > :first-child {
    margin-top: 0 !important;
  }
  main > :last-child {
    margin-bottom: 0 !important;
  }
}

::-webkit-scrollbar {
  display: none;
}

